input[type="checkbox"][id^="cb-"] {
  display: none;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  width: 820px;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.card {
  position: relative;
}
.caption {
  position: absolute;
  opacity: 0;
  flex-wrap: wrap;
  width: 50%;
  padding: 25px;
}
.card:hover .caption {
  opacity: 1;
  color: white;
}
.albums-menu {
  display: block;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 0;
}
